h1 {
    background-color: aqua;
    text-align: center;
    font-style: italic;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
img {height: 350px;
    ; border-radius: 10rem;
    border-style: dashed;
    border-color: cornflowerblue;

}




h1 
 {color: black;}

h2 {border-color: gray;
    border-radius: 30rem;
    background-color: yellow;
    background-size: 30rem;
    text-shadow: blanchedalmond;

}

h3 {color: black;}

#font-32 {size: 44px;}
